* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text: #e7e8f1;
  --accent: #02fcfc;
  --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #15161e;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 4% 2%;
}
#edit,
#cancel,
#update,
#logout {
  border: 1px solid hsl(0 100% 100% / 0.2);
  background: hsl(0 100% 100% / 0.1);
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  font: 400 1.2rem var(--font-default);
  color: var(--text);
  transition: 0.4s;
}
.btn-wrapper,#logout{
  margin-left: auto;
}
.btn-wrapper{
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
#logout:hover,
#logout:active {
  color: var(--accent);
}

#profile {
  margin: auto;
  background: hsl(0 0% 100% / 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2%;
  gap: 1rem;
  border-radius: 4px;
  box-shadow: 20px 20px 40px hsl(0 0% 0% / 0.23);
}
.wrap-content {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.wrap-content label {
  width: 30%;
  color: var(--accent);
  font: 600 1rem var(--font-default);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.wrap-content .value {
  color: var(--text);
  background: none;
  outline: none;
  border: none;
  padding-bottom: 5px;
}

.wrap-content .value[data-edit="true"] {
  border-bottom: .7px solid hsl(0 100% 100% /0.3);
}

#edit[data-edit='hide']{
  display: none;
}
#update,#cancel{
display: none;  
}
#cancel[data-cancel='true'],
#update[data-update='true']{
  display: block;
}


@media screen and (min-width: 600px) {
  #profile {
    width: 400px;
  }
  .wrap-content label {
    width: 50%;
  }
}
